/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #fefefe;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.sidebar {
	border-right: 1px solid #dedede;
	padding-right: 40px;
	text-align: right;
}


.fablogos {
	
	padding-top: 50px;
	
}

.logo img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

.size-48 {
	font-size: 48px;
}

.classes li {
	list-style: none;
	line-height: 200%;
}
.classes li span{
	margin-right: 20px;
	width: 80px;
	text-transform: uppercase;
	font-weight: bold;
}

.classes li a:hover {
	color: orange;
}
