<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="../index.html"><i class="fi-home"></i></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="../about.html"><i class="fi-torso-business"></i> Profile</a>
        <ul class="dropdown">
            <li><a href="../about.html">About me</a></li>
            <li><a href="../contact.html">Contact info</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="../project/description.html"><i class="fi-power"></i> Final project</a>
        <ul class="dropdown">
            <li><a href="../project/description.html">Description</a></li>
            <li><a href="../project/gantt.html">Schedule</a></li>
            <li><a href="../project/log.html">Activity Log</a></li>
        </ul>
      </li>
      <li >
        <a href="../classes/index.html"><i class="fi-projection-screen"></i> Classes</a>
      </li>
    </ul>

  </section>
</nav>